@use 'styles' as s;

.avatar {
  min-width: s.size(avatar);
  min-height: s.size(avatar);
  border-radius: s.radius(sm);

  label {
    font-size: s.font-size(xs);
    font-weight: s.weight(semibold);
    color: s.gtk(ink);
  }

  &.--accent    { background-color: s.gtk(accent); }
  &.--info      { background-color: s.gtk(info); }
  &.--ok        { background-color: s.gtk(ok); }
  &.--warn      { background-color: s.gtk(warn); }
  &.--attention { background-color: s.gtk(attention); }
}
