@use 'styles' as s;

.avatar {
  min-width: s.size(avatar);
  min-height: s.size(avatar);
  border-radius: s.radius(sm);

  label {
    font-size: s.font-size(xs);
    font-weight: s.weight(semibold);
    color: s.gtk(ink);
  }

  @include s.tint-fill;
}
