@use 'styles' as s;

popover.popover-content {
  background-color: transparent;

  > arrow {
    background-color: s.gtk(surfaceGlass);
    border: 1px solid s.gtk(lineSubtle);
  }

  > contents {
    @include s.popout;
    @include s.enter-pop;
    margin: s.space(sm);
    padding: s.space(lg);
  }
}
