@use 'styles/core/config';
@use 'styles/core/helpers/scale';

$size: scale.linear(config.$size-base, (
  bar:        11,
  bar-hit:    7.5,
  bar-hit-sm: 7,

  icon-xs: 2.75,
  icon:    3.75,
  icon-lg: 5,

  ws-item-w:        4.5,
  ws-item-h:        1,
  ws-item-w-active: 7.5,
  ws-item-h-active: 2,

  ws-icon-w:        3.5,
  ws-icon-h:        2,
  ws-icon-w-active: 7.5,
  ws-icon-h-active: 2,

  media-cover: 15.5,
  media-track: 0.75,

  badge:       1.25,
  badge-inset: 1.5,

  avatar:        6.5,
  app-icon:      6.5,

  wallpaper-thumb-w: 30,
  wallpaper-thumb-h: 19,

  calendar-day: 8.5,
  calendar-dot: 1,
  agenda-bar-w: 0.75,
  agenda-bar-h: 6.5,
  notif-dismiss: 4.5,
));

$panel-width: scale.linear(config.$size-base, (
  media:         80,
  notifications: 89,
  toast:         82.5,
  launcher:      155,
  wallpaper:     101,
  calendar:      80,
));
