@use 'styles/core/config';
@use 'styles/core/helpers/scale';

$space: scale.linear(config.$size-base, (
  xxs:  0.5,
  xs:   1,
  sm:   2,
  md:   3,
  lg:   4,
  xl:   5,
  xxl:  6,
  xxxl: 8,
));

$stroke: (
  hairline: 1px,
  ring:     2px,
);
