@use 'styles/core/config';
@use 'styles/core/helpers/scale';

$font-size: scale.geometric(config.$font-size-base, config.$type-scale, (
  xxs:  -3,
  xs:   -2,
  sm:   -1,
  base: 0,
  md:   1,
));

$font-weight: (
  regular:  400,
  semibold: 600,
);

$leading: (
  normal: 1.45,
);
