@use 'styles/core/helpers/functions' as *;
@use 'styles/core/config';

* {
  font-family: config.$font-family;
  font-size: font-size(base);
  font-weight: weight(regular);
  color: gtk(text);
}

@keyframes pop-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
