@use 'styles/core/helpers/functions' as *;

* {
  font-family: font-stack(sans);
  font-size: font-size(base);
  font-weight: weight(regular);
  color: gtk(text);
}

@keyframes pop-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
